.header
    .left-header-items
        %img{src: 'assets/images/logo.png', class: 'logo'}
        %input{class: 'input-search'}
    .main-header-items
        %ul
            %li
                %img{src: 'assets/images/home_btn.jpg'}
            %li
                %img{src: 'assets/images/video_btn.png'}
            %li
                %img{src: 'assets/images/market_btn.jpg'}
            %li
                %img{src: 'assets/images/community_btn.jpg'}                
            %li
                %img{src: 'assets/images/other_btn.jpg'}                
    .right-header-items
        = image_tag get_photo_from_current_user, class: 'photo' unless get_photo_from_current_user.blank?
        %strong{class: 'username'}= session[:current_user]["full_name"]

    