@import "colors";
@import "header-styles";
@import "main-styles";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    font-family: Helvetica, sans-serif, Arial;
}
